<div class="sidebar">
  <% @announcements.each do |a| %>
    <div class="post">
      <div class="title"><%= a.subject %></div>
      <div class="date">Posted on <%= format_time(a.created_at) %></div>
      <div class="content">
        <%= truncate(a.details, length: AnnouncementsHelper::DETAILS_LENGTH) %>
        <% if a.details.mb_chars.length > AnnouncementsHelper::DETAILS_LENGTH %>
          <%= link_to ' Read more', "#", 'data-target' => "#show_modal_#{a.id}", 'data-toggle' => 'modal' %>
        <% end %>
      </div>
      <% if current_user.mc %>
        <div class="buttons">
          <%= link_to 'Edit', "#", 'data-target' => "#edit_modal_#{a.id}", 'data-toggle' => 'modal' %>
          <%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if current_user.mc %>
    <p><%= link_to 'Submit New Announcement', '#', 'data-target' => "#new_modal", 'data-toggle' => 'modal' %></p>
  <% end %>
  <p><%= link_to 'Show All Announcements', announcements_path %></p>
</div>

<!-- Show Modal -->
<%= render 'announcements/show' %>

<!-- Edit Modal -->
<%= render 'announcements/edit' %>

<!-- New Modal -->
<%= render 'announcements/new' %>
