<h1><%= announcement.id %></h1>

<table>	
	<tr>
	  <td><%= announcement.date %></td>
	  <td><%= announcement.subject %></td>
	  <td><%= announcement.details %></td>
	  <td><%= announcement.created_at %></td>
	  <td><%= announcement.updated_at %></td>
	 </tr>
</table>