<header>
  HEADER
</header>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <h1>Announcements</h1>

          <% @announcements.each do |a| %>
            <div class="post">
              <div class="title"><%= a.subject %></div>
              <div class="date">Posted on <%= a.created_at.localtime.strftime("%d %B %C%y, %I:%M %p") %></div>
              <div class="content"><%= a.details %></div>
              <div class="buttons">
                <%= link_to 'Show', "#", 'data-target' => "#show_modal_#{a.id}", 'data-toggle' => 'modal' %>     
                <%= link_to 'Edit', "#", 'data-target' => "#edit_modal_#{a.id}", 'data-toggle' => 'modal' %>
                <%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>

        <p><%= link_to 'Submit New Announcement', "#", 'data-target' => "#new_modal", 'data-toggle' => 'modal'  %></p>

      </div>
      <div class="col-md-8 offset-md-1">
          <h1>Schedule</h1>
      </div>
    </div>
  </div>

  <!-- Show Modal -->
  <%= render 'show' %>

  <!-- Edit Modal -->
  <%= render 'edit' %>

  <!-- New Modal -->
  <%= render 'new' %>
        
</body>
