<div class="container-fluid">
	<h1>Default users for <%= @place.name %></h1>
	<%= form_tag(availabilities_place_path, method: "put") do %>
	  <div class="scrollable">
	    <table class="table table-sm table-availabilities-all">
	      <tr>
	        <th class="time-label-cell-empty"></th>
	        <% start_time = @start_time %>
	        <% end_time = @end_time %>
	        <% while start_time < end_time do %>
	          <th colspan="2" class="time-label-cell">
	            <span class="time-label">
	              <%= start_time.strftime("%H%M") %>
	            </span>
	          </th>
	          <% start_time += 1.hour %>
	        <% end %>
	      </tr>
	      <% (1..7).each do |index| %>
	        <% day = Availability.days.keys[index % 7] %>
	        <tr>
	          <td class="dayname"><%= day[0..2] %></td>
	          <% @time_ranges.each do |time_range| %>
	          	<%= generate_cell_dropdown(index, time_range) %>
	          <% end %>
	        </tr>
	      <% end %>
	    </table>
	  </div>
    <%= submit_tag("Update", id: 'update-button-places', data: { disable_with: false }, class: "btn btn-large btn-primary") %>
    <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-danger") %>
   <% end %>
</div>