<div style="height: calc(100% - 71px); display: flex; flex-direction: column;">
  <div style="display: flex; flex: 1 1 auto;">
  	<%= form_tag(availabilities_place_path, method: "put", style: "flex: 1 1 auto; display: flex;") do %>
      <div style="display: flex; flex: 1 1 auto; border-top: 1px solid #e0e0e0;">
        
        <div style="display: block; flex: 0 0 auto; width: 256px; border-right: 1px solid #e0e0e0; padding: 8px 0;">
          <div style="display: flex; height: 94px; padding: 8px 0; justify-content: center; align-items: center; border-bottom: 1px solid #e0e0e0">
            <h1 style="flex: none;"><%= @place.name %></h1>
          </div>
          <div style="display: flex; padding: 32px 0; justify-content: space-around;">
            <%= submit_tag("Update", id: 'update-button-places', data: { disable_with: false }, class: "btn btn-large btn-primary") %>
            <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-danger") %>
          </div>
        </div>

        <div style="flex: 1 1 auto; display: flex; flex-direction: column;">
          <div style="display: flex; flex: none;">
            <div style="flex: 0 0 auto; height: 100px; width: 48px; border-right: 1px solid #e0e0e0;">
            </div>
            <div style="flex: 1 1 auto; display: flex;">
              <% (1..7).each do |index| %>
                <div style="display: flex; align-items: flex-end; flex: 1 1 0%; border-right: 1px solid #e0e0e0;">
                  <div style="margin-left: 10px; font-size: 32px; line-height: 64px;">
                    <%= Availability.days.keys[index % 7][0..2] %>
                  </div>
                </div>
              <% end%>
              <div style="overflow: scroll;"></div>
            </div>
          </div>
          <div style="display: flex; flex: 1 1 10%; overflow-y: scroll; border-top: 1px solid #e0e0e0;    align-items: flex-start;">
            <div style="flex: none; width: 48px; border-right: 1px solid #e0e0e0; height: 1920px;">
              <% (0..23).each do |x| %>
                <div style="height: 80px; text-align: center;">
                  <span style="position: relative; top: -12px; font-size: 10px;
                  <% if x == 0 %>
                    display: none;
                  <% end %>
                  ">
                    <%= "#{x}:00" %>
                  </span>
                </div>
              <% end %>
            </div>
            <div style="display: flex; flex: 1 1 auto; position: relative;">
              <div>
                <% (0..23).each do |x| %>
                  <div class="row-lines">
                    
                  </div>
                <% end %>
              </div>
              <% (1..7).each do |day| %>
                <div style="flex: 1 1 0%; border-right: 1px solid #e0e0e0;">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
     <% end %>
   </div>
</div>
