<div class="container-fluid">
	<h1>Default users for <%= @place.name %></h1>
	<%= form_tag(availabilities_place_path, method: "put") do %>
    <table class="table table-sm table-places">
      <%= generate_day_heading %>
      <% start_time = @start_time %>
      <% end_time = @end_time %>
      <% show = false %>
      <% while start_time < end_time do %>
      	<tr class="table-places-row">
      		<td rowspan=2 class="time-header">
      			<% if show %>
	      			<span class="time-text">
		      			<%= start_time.strftime("%H:%M") %>
		      		</span>
		      	<% else %>
		      		<% show = true %>
		      	<% end %>
      		</td>
      		<% time_range = get_time_range(start_time) %>
      		<% if time_range %>
      			<% current_rowspan = calc_colspan(time_range.start_time, time_range.end_time) %>
	      		<% (1..7).each do |index| %>
	      			<%= generate_cell_dropdown(index, time_range, current_rowspan) %>
	      		<% end %>
	      	<% end %>
        	<% start_time += 0.5.hour %>
      	</tr>
      	<tr class="table-places-row">
	        <% time_range = get_time_range(start_time) %>
      		<% if time_range %>
      			<% current_rowspan = calc_colspan(time_range.start_time, time_range.end_time) %>
	      		<% (1..7).each do |index| %>
	      			<%= generate_cell_dropdown(index, time_range, current_rowspan) %>
	      		<% end %>
	      	<% end %>
        	<% start_time += 0.5.hour %>
      	</tr>
       <% end %>	
    </table>
    <%= submit_tag("Update", id: 'update-button-places', data: { disable_with: false }, class: "btn btn-large btn-primary") %>
    <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-danger") %>
   <% end %>
</div>
