<div id="duty-start-time" data-start-time=<%= TimeRange.order(:start_time).first.start_time.strftime('%H') %>></div>
<div id="num-of-places" data-num-of-places=<%= @places.count %>></div>

<div class="container-fluid no-padding-top">
  <div class="row">
    <div class="col-md-12 no-padding">
      <h1>Duty Timetable for the Week</h1>
    </div>
  </div>

  <div class="row body-container">
    <div id="announcement-sidebar" class="col-md-3 sidebar-container">
      <h1>Announcements</h1>
        <%= render partial: 'announcements/index' %>
    </div>

    <div id="duty-table" class="col-md-9">
      <div class="col-md-12 duty-table-header">
        <button type="button" id="announcement-toggle-btn" class="btn btn-large btn-light duty-table-button">SideBar Toggle</button>
        <%= link_to 'Previous Week', duties_path(start_date: @start_date - 7), class: 'btn btn-large btn-light duty-table-button' %>
        <%= link_to 'Next Week', duties_path(start_date: @start_date + 7), class: 'btn btn-large btn-light duty-table-button' %>
        <% if can?(:edit, Duty) %>
          <%= link_to 'Change Current Duties', duties_places_path, class: "btn btn-large btn-light duty-table-button" %>
        <% end %>
        <% if can?(:update_default_duties, Duty) %>
          <%= link_to 'Update Default Duties', availabilities_places_path, class: "btn btn-large btn-light duty-table-button" %>
        <% end %>
      </div>

      <div class="schedule-container">
        <div class="schedule-left">
          <table class="table table-sm">
            <!-- Empty row to accommodate the timing -->
            <thead>
              <tr>
                <td class="schedule-timings"><div class="schedule-time">&nbsp;</div></td>
                <td class="schedule-timings"></td>
              </tr>
            </thead>
            <tbody>
              <% (@start_date..@end_date).each do |day| %>
                <% first = true %>
                <% @places.each do |place| %>
                  <tr>
                    <% if first %>
                      <td class="schedule-daynames" rowspan="<%= @places.length %>">
                        <%= day.strftime("%a, %d/%m/%y") %>
                      </td>
                      <% first = false %>
                    <% end %>
                    <td><%= place.name %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>

          </table>
        </div>
        <div class="schedule-right scrollable">
          <table class="table table-sm duty-table">
            <thead>
              <tr>
                <% @header_iter.each do |t| %>
                <td class="schedule-timings schedule-hours" colspan="2">
                  <div class="schedule-time"><%= Time.zone.at(t).strftime('%H%M') %></div>
                </td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% sum_colspan = 0 %>
              <% duties_count = 0 %>
              <% process_duties(@start_date, @end_date, @first_time, @last_time, @places).each do |day| %>
                <% day.each do |place| %>
                  <tr>
                    <% place.each do |duty| %>
                      <% unless duty[:user].nil? %>
                        <% sum_colspan += duty[:colspan] %>
                        <% duties_count += 1 %>
                      <% end %>

                      <% if duty[:user].nil? %>
                        <td class="schedule-name-empty" colspan="<%= duty[:colspan] %>">&nbsp;</td>
                      <% elsif duty[:free] || current_user.id == duty[:request_user_id] || (duty[:user] == current_user && duty[:request_user_id].present?) %>
                        <td class="schedule-name-empty text-center" colspan="<%= duty[:colspan] %>">
                           <%= button_to "Grab", { controller: 'duties', action: 'open_grab_modal', grab_duty_list: duty[:span_duty] }, { method: :post, remote: true, class: 'btn btn-link', style: "line-height: 0;", 'data-toggle': "modal", 'data-target': '#grab-drop-modal' } %>
                        </td>
                      <% else %>
                        <% if current_user == duty[:user] %>
                          <td class="schedule-name text-overflow-ellipsis my-duty-cell" colspan="<%= duty[:colspan] %>">
                            <%= button_to duty[:user].username, { controller: 'duties', action: 'open_drop_modal', drop_duty_list: duty[:span_duty] }, { method: :post, remote: true, class: 'btn btn-link', style: "line-height: 0;", 'data-toggle': "modal", 'data-target': '#grab-drop-modal' } %>
                            <div id="grab-drop-modal" class="modal hide fade" role="dialog" aria-labelledby="grabDropModal" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                              </div>
                            </div>
                          </td>
                        <% else %>
                          <td class="schedule-name text-overflow-ellipsis" colspan="<%= duty[:colspan] %>">
                            <%= duty[:user].username %>
                            <div id="grab-drop-modal" class="modal hide fade" role="dialog" aria-labelledby="grabDropModal" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                              </div>
                            </div>
                          </td>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div id="average-colspan" data-average-colspan="<%= duties_count.zero? ? 0 : sum_colspan.to_f / duties_count %>"></div>

      <% if can?(:generate_duties, Duty) %>
        <%= form_tag(generate_duties_path, method: "post") do %>
          <%= label_tag(:num_weeks, "Generate for how many weeks?") %>
          <%= text_field_tag(:num_weeks) %>
          <%= hidden_field_tag(:start_date, @start_date) %>
          <%= submit_tag("Generate (from #{@start_date.strftime('%d/%m/%y')})") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
