<div class="container-fluid">
  <div class="col-md-12">
    <div class="scrollable">
    <table class="table table-responsive-md">
      <thead>
        <tr>
          <td class="schedule-timings"></td>
          <% @header_iter.each do |t| %>
          <td class="schedule-timings" colspan="2">
            <div class="schedule-time"><%= Time.at(t).localtime.strftime('%H%M') %></div>
          </td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% names=[{ color: "#FF0000", name: "Viriyadhika" }, { color: "#FF00FF", name: "Sreyans" }, { name: "Julius", color: "#0000FF" }, { name: "Guek Ling", color: "#FFFF00" }] %>
        <% (1..7).each do |i| %><!-- 7.times started from 0, would start week from Monday -->
        <tr>
          <td class="schedule-daynames"><%= Date::DAYNAMES[i % 7] %></td>
          <% @timetable_iter.each do |t| %>
            <% tmp = names.sample %>
            <td style="color: <%= choose_fgcolour(tmp[:color]) %>;background-color:<%= tmp[:color] %>"><%= tmp[:name] %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
