<div class="container-fluid">
  <div class="scrollable" style="width: 100%; display: flex; flex-wrap: nowrap;">
        <div class="schedule-left">
        <table class="table">
          <!-- Empty row to accommodate the timing -->
          <tr><td></td></tr>
          <% (@start_date..@end_date).each do |day| %>
            <tr>
              <td class="schedule-daynames" rowspan="<%= @places.length %>"><%= day.strftime("%a, %d/%m/%y") %></td>
              <% first = true %>
              <% @places.each do |place| %>
                <% if first %>
                  <% first = false %>
                <% else %>
                  <tr>
                <% end %>
                <td><%= place.name %></td>
                </tr>
              <% end %>
            </tr>
          <% end %>

        </table>
        </div>
        <div style="flex-grow: 100;">
        <table class="table" style="padding-left: 20px;">
          <thead>
            <tr>
              <% @header_iter.each do |t| %>
              <td class="schedule-timings" colspan="2">
                <div class="schedule-time"><%= Time.at(t).localtime.strftime('%H%M') %></div>
              </td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% names=[{ color: "#FF0000", name: "Viriyadhika" }, { color: "#FF00FF", name: "Sreyans" }, { name: "Julius", color: "#0000FF" }, { name: "Guek Ling", color: "#FFFF00" }] %>
            <% (1..7).each do |i| %><!-- 7.times started from 0, would start week from Monday -->
            <tr>
              <% @timetable_iter.each do |t| %>
                <% tmp = names.sample %>
                <td style="white-space: nowrap; color: <%= choose_fgcolour(tmp[:color]) %>;background-color:<%= tmp[:color] %>"><%= tmp[:name] %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= form_tag generate_path method: "post" %>
          <%= label_tag(:num_weeks, "Generate for how many weeks ?") %>
          <%= text_field_tag(:num_weeks) %> 
          <%= submit_tag("Generate") %>
      </div>
  </div>
</div>
