<div class="container-fluid">
  <div class="scrollable" style="width: 100%; display: flex; flex-wrap: nowrap;">
        <div class="schedule-left">
        <table class="table">
          <!-- Empty row to accommodate the timing -->
          <tr><td></td></tr>
          <% (@start_date..@end_date).each do |day| %>
            <tr>
              <td class="schedule-daynames" rowspan="<%= @places.length %>"><%= day.strftime("%a, %d/%m/%y") %></td>
              <% first = true %>
              <% @places.each do |place| %>
                <% if first %>
                  <% first = false %>
                <% else %>
                  <tr>
                <% end %>
                <td><%= place.name %></td>
                </tr>
              <% end %>
            </tr>
          <% end %>

        </table>
        </div>
        <div style="flex-grow: 100;">
        <table class="table" style="padding-left: 20px;">
          <thead>
            <tr>
              <% @header_iter.each do |t| %>
              <td class="schedule-timings" colspan="2">
                <div class="schedule-time"><%= Time.at(t).localtime.strftime('%H%M') %></div>
              </td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% process_duties(@start_date, @end_date).each do |day| %>
              <% day.each do |place| %>
                <tr>
                <% place.each do |duty| %>
                  <% if duty[:name].nil? %>
                    <td class="schedule-name-empty" colspan="<%= duty[:colspan] %>">&nbsp;</td>
                  <% else %>
                    <td class="schedule-name" colspan="<%= duty[:colspan] %>"><%= duty[:name] %></td>
                  <% end %>
                <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= form_tag generate_path method: "post" %>
          <%= label_tag(:num_weeks, "Generate for how many weeks ?") %>
          <%= text_field_tag(:num_weeks) %> 
          <%= submit_tag("Generate") %>
      </div>
  </div>
</div>
