<div class="container-fluid">

  <div class="col-md-12">
    <div class="schedule-container scrollable">
      <table>
        <tr>
          <th> Days </th>
          <% TimeRange.all.each do |tr| %>
            <th> <%= tr.start_time.strftime('%H%M') %> - <%= tr.end_time.strftime('%H%M') %> </th>
          <% end %>
        </tr>
        <% 7.times do |i| %>
          <tr>
            <% day = Date::DAYNAMES[i % 7] %>
            <td> <%= day %> </td>
            <% Timeslot.where(day: day).each do |ts| %>
              <td> <%= User.find_by(id: ts.default_user_id).email %> </td>
            <% end %>
          </tr>
        <% end %>
      </table>
        <%= form_tag generate_path method: "post" %>
           <%= label_tag(:num_weeks, "Generate for how many weeks ?") %>
           <%= text_field_tag(:num_weeks) %>
           <%= submit_tag("Generate") %>
    </div>
  </div>
</div>
