<div class="edit-profile">
  <h1>Edit Password</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="box">
          <%= form_with(model: @user) do |f| %>
            <table>
              <div class="field">
                <tr>
                  <th><%= f.label :new_password %></th>
                  <td><%= f.password_field :password, :placeholder => "6 characters minimum", autocomplete: "off", :required => true, :minlength => "6" %></td>
                </tr>
              </div>

              <div class="field">
                <tr>
                  <th><%= f.label :new_password_confirmation %></th>
                  <td><%= f.password_field :password_confirmation, :placeholder => "6 characters minimum", autocomplete: "off", :required => true, :minlength => "6" %></td>
                </tr>
              </div>

              <% if cannot?(:change_without_password, User) %>
                <div class="field">
                  <tr>
                    <th><%= f.label :current_password %></th>
                    <td><%= f.password_field :current_password, :placeholder => "6 characters minimum", autocomplete: "off", :required => true, :minlength => "6" %></td>
                  </tr>
                </div>
              <% end %>

            </table>

            <div class="actions">
              <%= f.submit "Save"%>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
