<h3> Problem Report Listing </h3>
<table>
    <tr> 
        <th> Id </th>
        <th> Reporter Name </th>
        <th> Venue </th>
        <th> PC Number </th>
        <th> Critical? </th>
        <th> Blocked? (AS8 Only) </th>
        <th> Fixed? </th>
        <th> Fixable? </th>
        <th> Description </th>
        <th> Remarks </th>
        <th> Last Updated By </th>
        <th> Last Updated At </th>
    </tr>
    
    <% @problem_reports.each do |pb| %>
        <tr>
            <td> <%= pb.id %> </td>
            <td> <%= User.find(pb.reporter_user_id).username %> </td>
            <td> <%= Place.find(pb.place_id).name %> </td>
            <td> <%= pb.computer_number %> </td>
            <td> <%= pb.is_critical ? 'Yes' : 'No' %> </td>
            <td> <%= pb.is_blocked ? 'Yes' : 'No' %> </td>
            <td> <%= pb.is_fixed ? 'Yes' : 'No' %> </td>
            <td> <%= pb.is_fixable ? 'Yes' : 'No' %> </td>
            <td> <%= pb.description %> </td>
            <td> <%= pb.remarks %> </td>
            <td> <%= User.find(pb.last_update_user_id).username %> </td>
            <td> <%= pb.updated_at.strftime("%d %b %Y %H:%M") %> </td>
        </tr>
    <% end %>
</table>