<h3> Problem Report Listing </h3>

<% if flash[:notice] %>
    <% if flash[:notice] == "Success" %>
        <div class="alert alert-success">
        <strong>Success!</strong> New Problem Report Created
        </div>
    <% else %>
        <div class="alert alert-danger">
        <strong>Fail To Make New Problem Report!</strong>
        </div>
    <% end %>
<% end %>

<%= button_to("Create New Problem Report", new_problem_report_path, method: "get", class: "btn btn-secondary") %>
<table>
    <tr> 
        <th> Id </th>
        <th> Reporter Name </th>
        <th> Venue </th>
        <th> PC Number </th>
        <th> Critical? </th>
        <th> Blocked? (AS8 Only) </th>
        <th> Fixed? </th>
        <th> Fixable? </th>
        <th> Description </th>
        <th> Remarks </th>
        <th> Last Updated By </th>
        <th> Last Updated At </th>
    </tr>
    
    <% @problem_reports.each do |pb| %>
        <tr>
            <td> <%= pb.id %> </td>
            <td> <%= User.find(pb.reporter_user_id).username %> </td>
            <td> <%= Place.find(pb.place_id).name %> </td>
            <td> <%= pb.computer_number %> </td>
            <% ["Critical", "Blocked", "Fixed", "Fixable"].each do |a| %>
                <% name = "is_" + a.downcase %>
                <td> <%= pb.public_send(name) ? a : 'Not ' + a %> </td>
            <% end %>
            
            <td> <%= pb.description %> </td>
            <td> <%= form_tag(problem_report_path(pb.id), method: "patch") do %>
                <%= pb.remarks %> <br> 
                <%= text_area_tag(:remarks, "", size: "20x2") %>
                <%= submit_tag('Change Remark') %>
            <% end %> </td>
            <td> <%= User.find(pb.last_update_user_id).username %> </td>
            <td> <%= pb.updated_at.strftime("%d %b %Y %H:%M") %> </td>
        </tr>
    <% end %>
</table>