<h3> Create New Problem Report </h3>

<%= button_to("Back To Problem Report List", problem_reports_path, method: "get", class: "btn btn-secondary") %>
<%= form_tag(problem_reports_path, method: "post") do %>
    <p>
        <b> Name </b>
        <%= current_user.username %>
    </p>
    
    <p>
        <b> Venue </b>
        <%= select_tag(:venue, options_for_select(Place.all.map {|a| a.name})) %>
    </p>
    
    <p>
        <b> PC Number </b>
        <%= text_field_tag(:computer_number) %>
    </p>
    
    <p>
        <b> Description </b>
        <% desc_place_holder = "Please try to describe the problem as descriptive as possible. If there is an error message, try to type the error message."%>
        <%= text_area_tag(:description, "", size: "100x10", placeholder: desc_place_holder) %>
    </p>
    
    <p>
        <%= check_box_tag(:is_critical) %>
        <%= label_tag(:is_critical, 'Critical') %>
    </p>
    
    <%= submit_tag("Submit")%>
<% end %>