<h1> Hello! </h1>
<% if user_signed_in? %>
  <%= current_user.username %>
<% end %>
<% if can?(:show_user_console, User) %>
   <%= link_to 'User Admin Console', users_path %>
<% end %>
<%= link_to 'Change profile', edit_user_registration_path %>
<%= link_to 'Change password', edit_user_path(current_user) %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
