<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <td>From:</td>
        <td><%= @duty.user.username %></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><%= @duty.date.strftime('%a, %d %b %Y') %></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td>
          <%= @duty.time_range.start_time.strftime('%H%M') %>
          -
          <%= @duty.time_range.end_time.strftime('%H%M') %>
        </td>
      </tr>
      <tr>
        <td>Venue:</td>
        <td><%= @duty.place.name %></td>
      </tr>
    </table>
    <p>
      Go to <%#= link_to dropped_duties_url, dropped_duties_url %> to grab it!<br />
    </p>
    <p>
      Regards,<br />
      NUSSU commIT
    </p>
    <p>
      Important: This email is confidential and may be privileged. If you are not the intended recipient, please delete it and notify us immediately; you should not copy or use it for any purpose, nor disclose its contents to any other person. Thank you.
    </p>
  </body>
</html>
