<h1>Schedule Availability</h1>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

<%= form_tag("/availabilities", method: "post") do %>

  <table border="1">
  <tr>
    <th></th>
    <% @time_ranges.each do |time_range| %>
      <th> <%= time_range.start_time.strftime("%H:%M") %> - <%= time_range.end_time.strftime("%H:%M") %> </th>
    <% end %>
  </tr>
  <% @availabilities.each do |availability_day| %>
    <tr>
      <td><%= availability_day[0].day %></td>
      <% availability_day.each do |availability| %>
        <td align="center">
          <%= check_box_tag 'availability_ids[]', availability.id, Availability.statuses[availability.status] == 1 -%>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>

        
  <%= submit_tag("Update", :id => 'update-button', :data => { disable_with: false }) %>
  <%= submit_tag("Reset", :id => 'reset-button', :data => { disable_with: false }) %>

  <script>
    $('#reset-button').click(function(e){
      e.preventDefault();
      $('input[type=checkbox]').each(function(id){ 
        $(this).prop('checked', false);
      });
      $('#update-button').click();
    });
  </script>
  
<% end %>
