<div class="container-fluid availabilities-container">
  <h1>Schedule Availability</h1>
  <div class="instruction">
    <div class="box-yes"></div>
    <div class="instruction-label">YES</div>
    <div class="box-no"></div>
    <div class="instruction-label">NO</div>
  </div>
  <%= form_tag(availabilities_path, method: "post") do %>
    <table class="table table-sm table-availabilities">
      <tr>
        <th></th>
        <% start_time = @start_time %>
        <% end_time = @end_time %>
        <% while start_time <= end_time do %>
          <th colspan="2">
            <span class="time-label">
              <%= start_time.strftime("%H%M") %>
            </span>
          </th>
          <% start_time += 1.hour %>
        <% end %>
      </tr>
      <% (1..7).each do |index| %>
        <% day = Availability.days.keys[index % 7] %>
        <tr>
          <td class="dayname"><%= day[0..2] %></td>
          <% @time_ranges.each do |time_range| %>
            <%= generate_cell(day, time_range) %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= submit_tag("Update", id: 'update-button', data: { disable_with: false }, class: "btn btn-large btn-light disabled") %>
    <%= submit_tag("Clear All", id: 'clear-all-button', data: { disable_with: false }, class: "btn btn-large btn-warning white-text")%>
    <%= submit_tag("Cancel", id: 'cancel-button', data: { disable_with: false }, class: "btn btn-large btn-light disabled") %>
  <% end %>
</div>
