<div class="container-fluid">
  <h1>Schedule Availability</h1>
  <%= form_tag(availabilities_path, method: "post") do %>
    <table class="table table-sm">
      <tr>
        <th></th>
        <% start_time = @start_time %>
        <% end_time = @end_time %>
        <% while start_time <= end_time do %>
          <th colspan="2">
            <span class="time-label">
              <%= start_time.strftime("%H:%M") %>
            </span>
          </th>
          <% start_time += 1.hour %>
        <% end %>
      </tr>
      <% @availabilities.each do |availability_day| %>
        <tr>
          <td class="dayname"><%= availability_day[0].day %></td>
          <% availability_day.each do |availability| %>
            <%= generate_cell(availability) %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= submit_tag("Update", :id => 'update-button', :data => { disable_with: false }, :class => "btn btn-large btn-light disabled") %>
    <%= submit_tag("Clear All", :id => 'clear-all-button', :data => { disable_with: false }, :class => "btn btn-large btn-warning white-text")%>
    <%= submit_tag("Cancel", :id => 'cancel-button',  :data => { disable_with: false }, :class => "btn btn-large btn-light disabled") %>
    <span class="instruction">
      <div style="display: inline-block;">
        <div class="box-yes"></div>
        <div class="instruction-label">YES</div>
      </div>
      <div style="display: inline-block;">
        <div class="box-no"></div>
        <div class="instruction-label">NO</div>
      </div>
    </span>
  <% end %>
</div>
