<!DOCTYPE html>
<html>
  <head>
    <title>Takoyaki</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <% unless @disable_viewport %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body<%= yield :page_attributes %>>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to image_tag("commit-logo.png", height: '45', alt: 'nussucommit'), root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      </button>

      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Grab Duty', root_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Problem Report', problem_reports_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Schedule', availabilities_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Members', users_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Guide', root_path, class: 'nav-link' %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user %>
                <%= current_user.username %>
              <% else %>
                Guest
              <% end %>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key.to_sym) %>">
        <strong> <%= value %> <strong>
      </div>
    <% end %>  
    <%= yield %>
  </body>
</html>
